// # Cyborg
//
// No styleguide reference.

@import "../style";
@import "../../bower_components/bootswatch/cyborg/variables";
@import "../../bower_components/bootswatch/cyborg/bootswatch";

// Edits

// Color Theme
@brand-primary:         #8E0000;

// Too big...
@font-size-h1:            36px;
@font-size-h2:            25px;

// Disable Homepage Title
.HomepageTitle {
   display: none;
}

// Logo Fix
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2)) - 10;
